<mat-card class="card-container">

  <h2>Editions</h2>

  <div *ngIf="svc.editions === null">
    <mat-spinner class="loading"></mat-spinner>
  </div>

  <div *ngIf="svc.editions !== null">
    <div class="button-row">
      <button mat-button (click)="svc.selectAll()">Select All</button>
      <button mat-button (click)="svc.clearAll()">Clear All</button>
    </div>
    <div class="flex" *ngFor="let edition of svc.editions">
      <mat-checkbox class="box" [(ngModel)]="edition.checked">{{edition.name}}</mat-checkbox>
    </div>
  </div>

  <div class="button-row">
    <button mat-raised-button color="basic" [routerLink]="['/player']">Back</button>
    <button mat-raised-button color="primary" [routerLink]="['/villain']">Next</button>
  </div>

</mat-card>
